USE [Parcial2]
GO
/****** Object:  Table [dbo].[Pedidos]    Script Date: 24/11/2020 13:24:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos](
	[Codigo] [varchar](50) NOT NULL,
	[Direccion Entrega] [varchar](50) NOT NULL,
	[Delivery] [varchar](50) NOT NULL,
	[Estado] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Pedidos] ([Codigo], [Direccion Entrega], [Delivery], [Estado]) VALUES (N'USQ', N'Eiusmod 6407', N'No', N'Entregado')
INSERT [dbo].[Pedidos] ([Codigo], [Direccion Entrega], [Delivery], [Estado]) VALUES (N'TGK', N'Id 3507', N'Si', N'Entregado')
INSERT [dbo].[Pedidos] ([Codigo], [Direccion Entrega], [Delivery], [Estado]) VALUES (N'BMV', N'Tempor 2155', N'Si', N'Entregado')
GO
